*{
    padding: 0;
    margin:0;
}



nav{
    border: solid 1px black;
    background-color: black;
    letter-spacing: 0.04em;
    font-size: 1.5em;
    height: 50px;
    }

    ul{
        text-align: right;
        margin-right: 35px;
        margin-top: 7px;
        }
    
    li{
        display: inline;
    }

header{
    border: solid 1px black;
    background-image: url("HookahLounge.jpg");
    background-size: cover;    
    background-repeat: no-repeat;
    height: 900px;
    width: 100vw; 
    text-align: center;
}

h1{
    text-align: center;
    font-size: 130px;
}

h2{
    text-align: center;
    font-size: 1.5em;    
    font-weight: bold;
    width: 370px;
}


.container{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.container div{
    display: flex;
    flex-direction: column;
    margin: 2% 2%;
    width: 25%;
    
}

.container img{
    height: 300px;
    width: 250px;
    margin-left: 10%;
}


footer{
    border: solid 1px black;
    background-color: black;
    letter-spacing: 0.04em;
    font-size: 1.1em;
    height: 20px;
    text-align: center;
    margin-top: 15px;
}